*{
  list-style: none;
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.navbar{
  .logo{
    width: 170px;
  }
  font-weight: map-get($fonts-weights,  regular );
  font-size: 15px;
  a{
    text-decoration: none;
    color: $second_color;
    font-weight: map-get($fonts-weights,  semiBold );
  }
  .box-signup{
    border-radius: 10px;
  }
}

.hero{
  height: 100vh;
  background: url(../../img/Waves-Signin.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  
  .form-wrapper{
    .form-wrap{
      background: rgba(249, 249, 249, 0.3);
      /* Glasmorphism */
      
      box-shadow: 11px 28px 23px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(20px);
      /* Note: backdrop-filter has minimal browser support */
      
      border-radius: 40px;
      .row-1{
    
        .label-login{
          font-weight: map-get($fonts-weights,  semiBold );
          font-size: 25px;
        }
      }
  
      .row-2{
    
        .input-wrapper{
          p{
            font-weight: map-get($fonts-weights,  medium);
          }
          .input-wrap{
  
            input{
              width: 100%;
              border-color: none;
              border-radius: 10px;
              // max-height: 47px;
              font-weight: map-get($fonts-weights,  medium);
              height: 40px;
              background-color: #F8F9FD;
              padding-left: 20px;
            }
          }
    
          margin-bottom: 37px;
          .btn-signUp{
            .button {
              position: relative;
              overflow: hidden;
              padding: 7px 30px;
              border-radius: 10px;
              color: rgb(255, 255, 255);
              background-color: black;
              border: none;
              font-weight: map-get($fonts-weights,  semiBold);
              line-height: 27px;
              /* identical to box height */
              letter-spacing: -0.08em;
              text-transform: capitalize;


              .button-content {
                position: relative;
                z-index: 10;
                font-size: 18px;
                transition: all 0.3s ease-in-out;
              }

              .arrow{
                font-size: 23px;
                margin-left: 15px;
                transform: translateX(-5px);
                transition: all 0.4s ease-in-out;
              }
            }
            
            .button::before {
              content: '';
              position: absolute;
              width: 0%;
              height: 100%;
              left: 0;
              top: 0;
              border: none;
              background: linear-gradient(90deg, rgba(0, 175, 145, 1) 23.43%, rgba(245, 134, 52, 1) 73.7%);
              transition: all 0.4s ease-in-out;
            }
            .button:hover::before {
              
              width: 100%;
            }
            
            .button:hover{
              color: white;

              .arrow{
                transform: translateX(0);
              }
            }
            
             
          }
          p{
            font-weight: map-get($fonts-weights,  medium );
            font-size: 13px;
          }
        }
      }
  
      .row-3{
        .footer-wrapper{
          font-weight: map-get($fonts-weights,  regular );
          font-size: 11px;
          a{
            text-decoration: none;
            font-weight: map-get($fonts-weights,  medium );
            color: black;
          }
        }
      }
    }
  }
}