@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
* {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #F8F9FD;
}

.sidebar {
  position: fixed;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  background-color: white !important;
  background: url(../../img/bg-menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #e4e4e4;
}

.sidebar > hr {
  margin: 0;
  color: green;
}

.logo-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px 40px;
}

.menu {
  margin: 40px 0;
}
.menu .section-menu {
  gap: 30px;
}
.menu .section-menu .item-wrap {
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu .section-menu .item-wrap .item-menu {
  gap: 18px;
  padding: 7px 20px;
  width: 167px;
  font-weight: 400;
  position: relative;
  color: #66696f;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
}
.menu .section-menu .item-wrap p {
  margin: 0;
  text-align: start;
  font-size: 15px;
}
.menu .section-menu .item-wrap i {
  font-size: 20px;
}
.menu .section-menu .item-wrap .item-menu.active {
  font-weight: 500;
  color: white;
  background: linear-gradient(90deg, rgba(0, 175, 145, 0.7) 23.43%, rgba(245, 134, 52, 0.7) 73.7%);
}
.menu .section-menu .item-wrap .item-menu.active:hover {
  color: white;
}
.menu .section-menu .item-wrap .item-menu:hover {
  color: #2579d1;
}

.header .header-wrapper {
  background: url(../../img/bg-header-dashboard.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header-wrapper .row .header-wrap .content-wrap {
  height: 140px;
}
.header .header-wrapper .row .header-wrap .content-wrap .profile-wrapper .img-wrapper {
  min-width: 80px;
  max-width: 100px;
}
.header .header-wrapper .row .header-wrap .content-wrap .profile-wrapper .img-wrapper img {
  border-radius: 50px;
}
.header .header-wrapper .row .header-wrap .content-wrap .profile-wrapper .desc .r-1 {
  font-weight: 600;
  font-size: 22px;
}
.header .header-wrapper .row .header-wrap .content-wrap .profile-wrapper .desc .r-2 {
  font-weight: 400;
  font-size: 12px;
}

.content .content-wrapper {
  background: url(../../img/bg-subcription.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content .content-wrapper .search-bar-wrap {
  position: relative;
}
.content .content-wrapper .search-bar-wrap input {
  border-radius: 10px;
}
.content .content-wrapper .content-wrap .title .t-1 {
  font-weight: 500;
  font-size: 22px;
}
.content .content-wrapper .content-wrap .title .t-2 {
  font-weight: 400;
  font-size: 15px;
}
.content .content-wrapper .content-wrap .videos .video-wrapper {
  border-radius: 20px;
  background-color: white;
  padding: 15px 20px 15px 20px;
  gap: 15px;
}
.content .content-wrapper .content-wrap .videos .video-wrapper .thumbnail img {
  border-radius: 10px;
}
.content .content-wrapper .content-wrap .videos .video-wrapper .desc-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content .content-wrapper .content-wrap .videos .video-wrapper .desc-wrapper a {
  text-decoration: none;
  color: black;
}
.content .content-wrapper .content-wrap .videos .video-wrapper .desc-wrapper .title {
  font-weight: 600;
  font-size: 17px;
}
.content .content-wrapper .content-wrap .videos .video-wrapper .desc-wrapper .duration {
  font-weight: 400;
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */